@font-face {
    font-family:'ABeeZee';
    src: url('../../public/fonts/abeezee/ABeeZee-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'ABeeZee';
    src: url('../../public/fonts/abeezee/ABeeZee-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}